<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div id="page-wrapper" class="gray-bg">
    <app-header></app-header>

    <div class="card text-left container my-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Customer Group Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of customersAllGroupName  | paginate:{id:'listing_pagination',
            itemsPerPage: 6, 
            currentPage:page,
            totalItems:totalRecords} ;  let i=index">
            <th scope="row">{{6 *(page-1)+i+1}}</th>
            <td>{{data.groupName}}</td>
            <td>
              <span [routerLink]="['/updategroupcustomer',data.groupId]"><i class="fa fa-pencil"
                  aria-hidden="true"></i></span>
            </td>
            <td>
              <span data-toggle="modal" (click)="delete(data.groupId)" data-target="#myModal"><i class="fa fa-trash"
                  aria-hidden="true"></i></span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div>
      <pagination-controls id="listing_pagination" *ngIf="customersAllGroupName.length>5" maxSize="5"
        directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>


    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Customer Group</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are sure delete customer group
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="deleteGroupCustomer()">Delete</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>