<div id="wrapper">
    <app-side-bar></app-side-bar>
        <div id="page-wrapper" class="gray-bg">
            <app-header></app-header>
    
            <div class="wrapper wrapper-content animated fadeInRight">
<!--     
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Border Table </h5><a href="#" class="btn btn-success btn-sm pull-right">Add</a>
    
                            </div>
                            <div class="ibox-content">
    
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <ul class="actions">
                                                    <li><a href="#"><i class="fa fa-pencil"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <ul class="actions">
                                                    <li><a href="#"><i class="fa fa-pencil"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-trash"></i></a></li>
                                                </ul>
                                            </td>
    
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <ul class="actions">
                                                    <li><a href="#"><i class="fa fa-pencil"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-trash"></i></a></li>
                                                </ul>
                                            </td>
    
                                        </tr>
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                    </div>
    
                </div>
     -->
            </div>
           <app-footer></app-footer>
    
        </div>
    </div>