/* You can add global styles to this file, and also import other style files */
.success-snackbar{
    background-color: #188D18;
    color: #ffffff;
}
.error-snackbar{
    background-color:#FA7070;
    color:#ffffff;
}
